# Theme
icons_format = "{icon}"
[theme]
    theme = "native"
    [theme.overrides]
        idle_bg =  '#181616'
        idle_fg = "#C8C093"
        separator = "\ue0ba" # The arrow like separator is "\ue0b2"
        separator_bg = "auto"
        separator_fg = "auto"
        end_separator = "\ue0bc"
[icons]
    icons = "material-nf"

# Blocks
[[block]]
    block = "focused_window"
    [block.format]
        full = "$title.str(max_w:200) |"
        short = "$title.str(max_w:50) |"

[[block]]
    block = "net"
    format = "$icon "
    [block.theme_overrides]
        idle_bg = "#828073"
        idle_fg = "#181616"

[[block]]
    block = "backlight"
    format = "$icon $brightness"
    [block.theme_overrides]
        idle_bg = "#c4b28a"
        idle_fg = "#181616"

[[block]]
    block = "sound"
    format = "$icon {$volume|}"
    driver = "pulseaudio"
    [[block.click]]
        button = "left"
        cmd = "pavucontrol"
    [block.theme_overrides]
        idle_bg = '#a292a3'
        idle_fg = "#181616"
        warning_bg = "#c4746e"
        warning_fg = "#181616"

[[block]]
    block = "battery"
    format = "$icon $percentage"
    full_format = "$icon $percentage"
    not_charging_format =  "$icon $percentage"
    [block.theme_overrides]
        idle_bg = "#8a9a7b"
        idle_fg = "#181616"
        info_bg = "#8a9a7b"
        info_fg = "#181616"
        good_bg = "#8a9a7b"
        good_fg = "#181616"
        warning_bg = "#c4b28a"
        warning_fg = "#181616"
        critical_bg = "#c4746e"
        critical_fg = "#181616"
        # separator = "#181616"
        # separator_bg = "#181616"
        # separator_fg = "#181616"
        # alternating_tint_bg = "#181616"
        # alternating_tint_fg = "#181616"
        # end_separator = "#181616"

[[block]]
    block = "time"
    interval = 5
    format = "$timestamp.datetime(f:'%a %d/%m %R')"
    [block.theme_overrides]
        idle_bg = "#8ba4b0"
        idle_fg = "#181616"
